In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data,index=labels)

In [3]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

##### 21. For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [4]:
df.pivot_table(index="animal",columns="visits",values="age",aggfunc="mean")

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  NaN

##### 22. You have a DataFrame df with a column 'A' of integers. For example:

In [5]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [7]:
df.loc[df['A'].shift() != df['A']] #if value is equal to the next value it will not take all others will take into dataframe

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

##### 23. Given a DataFrame of numeric values, say

In [10]:
dff = pd.DataFrame(np.random.random(size=(5, 3)))

In [11]:
dff

          0         1         2
0  0.699089  0.620789  0.589034
1  0.578335  0.575389  0.121399
2  0.277848  0.109420  0.874294
3  0.165536  0.932112  0.920868
4  0.427750  0.931231  0.817267

##### 24. Suppose you have DataFrame with 10 columns of real numbers, for example:

In [12]:
df.sum().idxmin()

2

##### 25. How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [13]:
len(df.drop_duplicates(keep=False))

5

##### 26. You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the column which contains the third NaN value.

In [14]:
(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

0    0
1    0
2    0
3    0
4    0
dtype: int64

##### 27. A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example:

In [16]:
df1 = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

In [17]:
df1

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [19]:
df.groupby('grps')['vals'].nlargest(3).sum(level=0)

KeyError: 'grps'

##### 28. A DataFrame has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive). For each group of 10 consecutive integers in 'A' (i.e. (0, 10], (10, 20], ...), calculate the sum of the corresponding values in column 'B'.

In [20]:
df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

KeyError: 'A'

##### 29. Consider a DataFrame df where there is an integer column 'X':